@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont862f.eot?v=4.1.0');
	src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont862f.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont862f.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont862f.svg?v=4.1.0#fontawesomeregular') format('svg');
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	display: block;
	list-style: none;
	position: relative;
}
#cssmenu:after, #cssmenu ul:after {
	content: ".";
	clear: both;
	display: block;
	line-height: 0;
	visibility: hidden;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
	float: left;
	z-index: 4000;
}
#cssmenu ul li {
	float: left;
}
#cssmenu ul li a {
	color: #fff;
	display: block;
	font-size: 11px;
	padding: 10px 12px;
	text-transform: uppercase;
	border-right: 1px solid #ccc;
}
#cssmenu ul li a:hover {
	background-color: #be032e;
}
#cssmenu .active {
	background-color: #be032e;
}
#cssmenu .last {
	border: 0px;
}
#cssmenu .cursor {
	cursor: default;
}
#cssmenu ul ul {
	left: -9999px;
	position: absolute;
	opacity: 0;
}
#cssmenu ul > li > ul {
	top: 90px;
}
#cssmenu > ul > li:hover > ul {
	top: 38px;
	left: auto;
	opacity: 1;
}
#cssmenu ul ul ul {
	top: 38px;
}
#cssmenu li li a {
	border: 0px;
	border-bottom: 1px solid #ccc;
}
#cssmenu ul ul > li:hover > ul {
	top: 0;
	opacity: 1;
	left: 200px;
}
#cssmenu ul ul li a {
	color: #fff;
	width: 180px;
	font-size: 12px;
	padding: 5px 10px;
	text-transform: none;
	background-color: #033865;
}
#cssmenu .arr {
	background-image: url(../images/menu_arr.png);
	background-position: 180px 11px;
	background-repeat: no-repeat;
}
/* Smaller than standard 1180 (devices and browsers) */
@media only screen and (min-width:960px) and (max-width:1389px) {
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:990px) {
#cssmenu ul li a {
	font-size: 9px;
	padding: 5px 7px;
}
#cssmenu > ul > li:hover > ul {
	top: 26px;
	left: auto;
	opacity: 1;
}
#cssmenu ul ul ul {
	top: 26px;
}
}
@media all and (max-width: 768px) {
#cssmenu {
	width: 100%;
}
#cssmenu ul, #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu ul, #cssmenu ul li ul, #cssmenu ul li:hover ul, #cssmenu ul ul li:hover ul, #cssmenu ul ul ul li:hover ul {
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	width: 100%;
	display: none;
	position: relative;
	opacity: 1;
}
#cssmenu ul li {
	width: 100%;
}
#cssmenu ul li a {
	display: block;
	padding: 5px 10px;
	border-right: 0px;
	border-bottom: 1px solid #eee;
}
#cssmenu ul ul li a {
	width: 90%;
	padding: 10px 0px 10px 10%;
}
#cssmenu ul ul ul li a {
	width: 85%;
	padding: 10px 0px 10px 15%;
}
#cssmenu ul ul ul ul li a {
	width: 80%;
	padding: 10px 0px 10px 20%;
}
#cssmenu ul ul li:hover a, #cssmenu ul li a:hover, #cssmenu ul li.active a {
}
#cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul li.has-sub > a:after, #cssmenu ul ul li.has-sub > a:before {
	display: none;
}
#cssmenu #menu-button {
	color: #fff;
	display: block;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 0px;
	position: relative;
	text-transform: uppercase;
}
#cssmenu #menu-button:hover {
	color: #fff;
}
#cssmenu .submenu-button {
	right: 0;
	color: #fff;
	z-index: 10;
	display: block;
	cursor: pointer;
	position: absolute;
}
#cssmenu ul ul .submenu-button {
}
#cssmenu .arr {
	background: none;
}
#cssmenu #menu-button:after {
	float: right;
	line-height: 1;
	margin-top: 2px;
	font-size: 14px;
	content: "\f0c9";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	font-family: FontAwesome;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
#cssmenu ul .submenu-button:after {
	float: right;
	line-height: 1;
	font-size: 14px;
	content: "\f0c9";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	font-family: FontAwesome;
	margin: 5px 10px 0px 0px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
}
